.App {
  text-align: center;
  /* background-color: #eee; */
  min-height: 800px;
}

h2 {
  background-color: black;
  color: white;
  font-size: 2em;
  padding: .5em;
}

.flag-question {
  margin-top: 2em;
}

.img-container {
  margin: 0 auto;
  width: 500px;
  height: 350px;
}

.flag-img {
  margin-top: 2em;
  max-width:100%;
  max-height:100%;
  min-width: 500px;
  min-height:350px;
  border: 1px solid #eee;
}


button {
  background-color: black;
  color: white;
  display: block;
  margin: 1em auto .3em auto;
  font-size: 1.2em;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
